body {
    background-color: #151b29;
    color: white;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

.gap {
    padding: 1.4em;
}

.breaks{
    margin-top: 4em;
    margin-bottom: 1.5em;
}

p{
    padding-top: 1em;
    justify-content: center;
}

.kontakt {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s transform 0.25s;
}

.kontakt:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.5em);
    cursor: pointer;
}

#back-to-top-btn
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  background-color: #333;
  color: #CC7533;
  border: 3px solid #333;
  border-radius: 50%;
  transition: ease-in-out all .5s;
}

#back-to-top-btn:hover
{
  background-color: #CC7533;
  color: #333;
}


@media only screen and (max-width: 600px) {

    h1 {
        padding-top: 1em;
    }

    h2 {
        padding-top: 0.9em;
        font-size: 2em;
    }

    button {
        margin-top: 1.5em;
        margin-bottom: 0.2em;
    }

    .gap {
        padding: 0.8em;
    }

    p {
        padding-top: 1.2em;
    }

    .kontakt {
        font-size: .8em;
    }
}

@media only screen and (min-width: 600px) {

    h1 {
        padding-top: 1em;
    }

    h2 {
        padding-top: 0.9em;
        font-size: 2em;
    }

    .kontakt {
        margin-top: 1.5em;
        margin-bottom: 0.2em;
    }
    .gap {
        padding: 0.8em;
    }

    p {
        padding-top: 1.3em;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    h1 {
        padding-top: 0.8em;
    }

    h2 {
        font-size: 2.3em;
    }

    p {
        font-size: 0.9em;
    }

    img {
        padding-top: 110px;
    }

    .row {
        width: 800px;
        margin: 0 -50px;
    }
}

@media only screen and (min-width: 992px) {
    
    h1 {
        padding-top: 0.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 0.95em;
    }

    img {
        padding-top: 110px;
    }
}

@media only screen and (min-width: 1200px) {

    h1 {
        padding-top: 0.8em;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
        padding-top: 2.7em;
    }

    img {
        padding-top: 140px;
    }

    .container {
        width: 100%;
    }
}