body {
    //background-color: #CC7533; #AE7431DE7312
    //background-color: #AE7431;
    color: white;
    overflow-x: hidden !important;
    background-color: #151b29;
}

.gap {
    padding: 1.4em;
}

.breaks{
    margin-top: 4em;
    margin-bottom: 1.5em;
}

.p{
    padding-top: 1em;
    justify-content: center;
}

.flexara{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sekcija{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
    width: 100vw;
    height: 80vh;
    margin-bottom: 25px;  
}


.container-fluid{
    padding: 0;
}

h2{
    text-align: center;
}

.video-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    @media(max-width: 950px) {
      height: 50vh;
      width:  100vw;
    }
    max-height: 100%;
    max-width: 100%;
}


video {
    object-fit: cover; // Set the magic    
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    left: 0;
}

.kontakt {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s transform 0.25s;
}

.kontakt:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.5em);
    cursor: pointer;
}
